* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    align: center;
    width: 100%;
    height: 100%;
}

/*Cabeçalho*/
header {
    background-color: #343286;
    color: #fff;
    text-align: center;
    border-bottom: 3px solid #1d1c4d;
}


/*Grid de produtos */
.container {
    padding: 10px;
    background-color: #fff;
    min-height: 6vh;
    margin-left:  310px;
}

.products-container {
    background-color: #fff;
    max-width: 1200px;
    margin: 40px ;
}

.card {
    padding: 30px;
    width: 31%;
    display: inline-block;
    margin:   1px;
    padding: 40px;
    background-color: #fff;
}

.product-image {
    height: 31%;
    width: 100%;
    margin-bottom: 10px;
    background-position: center ;
    background-size: cover;
}





/*Footer*/
footer {
    background-color: #1d1c4d;
    color: #fff;
    border-top: 3px solid #343286;
    text-align: center;
    padding: 40px;
}
h3 {
    margin-bottom: 10px;
    color: #343286;
    border-left: 5px #343286;
    padding-left: 7px;
    font-size: 24px;
}

.card p {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #343286;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}
.btn:active {
        transform: scale(0.85);
        transition: 0.5s;
        background-color: #343286
    } 
.btn:hover {
    background-color: #1d1c4d;
}
.img:hover {
    transform: scale(0.95);
    transition: 0.5s;
}